:root {
	--container-width: min(85vw, 1200px);
	--background-color-alt: hsl(194 26% 79%);
	--background-color: hsl(197, 33%, 96%);
	--text-color: hsl(188 5% 27%);
	--text-color-alt: hsl(188 12% 24%);
}
