<div class="bottom">
	resume is maintained by <a href="https://github.com/todays-mitsui" target="_blank">Mitsui Shogo</a>.
</div>

<style>
	.bottom {
		background-color: var( --background-color-alt );
		margin-top: 80px;
		padding: 20px 5vw;
		text-align: center;
		font-size: .85rem;
	}

	a {
		font-weight: bold;
		color: var( --text-color-alt );
		text-decoration: none;
	}
</style>
